@import '~normalize.css/normalize.css';
@import './fonts';

body {
  @include font-newspaper;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0F0;
  background-color: black;

  > * {
    min-width: 600px;
    max-width: 800px;
  }
}

h1 {
  text-align: center;
  font-variant-caps: small-caps;
  color: #F0F;
}

ul {
  list-style: none;
}