@import '~normalize.css/normalize.css';
@import './fonts';

body {
  @include font-newspaper;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0 20px;
  color: #0F0;
  background-color: black;
  letter-spacing: .2em;
  line-height: 1.8;

  > * {
    max-width: 800px;
  }
}

h1 {
  text-align: center;
  font-variant-caps: small-caps;
  color: #F0F;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0 20px;

  &:not(:empty) {
    border: 1px solid #F0F;
  }

  li,
  a {
    padding: 10px 0;
  }

  a {
    color: #F0F;
    text-decoration: none;

    &:hover {
      color: #0F0;
    }
  }
}

.actions {
  margin-top: auto;
  margin-bottom: auto;
}